body {
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   margin: 0 10%;
}

h1 {
    display: block;
}

.container {
    border: 2px solid #dadada;
    border-radius: 10px;
    padding: 15px;
    margin: 20px auto;
}

.color-container {
    width: 100%;
}

.color-panel {
    display: inline-block;
    width: 35%;
    text-align: center;
    margin: 20px 70px;
    min-height: 100px;
    border-radius: 10px;
}

.blue {
      background-color: rgb(143, 158, 255);
}

.brown {
    background-color: rgb(42, 12, 12);
    color: blanchedalmond;
}

.grey {
    background-color: rgb(222, 222, 222);
}

.red {
    background-color: rgb(162, 042, 042);
    color: blanchedalmond;
}

.font-panel {
    width: 45%;
    display: inline-block;
    font-size: 20px;
    margin: 20px;
}

.font-label {
    font-size: 25px;
    text-decoration: overline;
} 

.regular {
    font-style: normal;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: 700;
}

.light {
    font-weight: 200;
}

.comfortaa {
    font-family: Comfortaa, sans-serif;
}

.yanone-kaffeesatz {
    font-family: 'Yanone Kaffeesatz';
}

.zilla-slab {
    font-family: 'Zilla Slab', sans-serif;
}

p {
    margin: 5px;
}

.text-panel h1 {
    font-weight: 700;
    font-size: 26px;
    font-family: 'Zilla Slab';
}

.text-panel h2 {
    font-weight: 400;
    font-size: 18px;
    font-family: 'Yanone Kaffeesatz';
}

.text-panel p {
    font-weight: 200;
    font-size: 14px;
    font-family: Comfortaa;
}
